[Desktop Entry]
Type=Application
Name=Install NORIVA
Exec=pkexec calamares
Icon=/etc/calamares/branding/noriva/logo.svg
Terminal=false
Categories=Qt;System;
